* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  color: #ffffff;
}

.logo {
  font-family: "Clicker Script", cursive;
  font-size: 3rem;
  font-weight: 300;
}
.h_meio {
  font-family: "Playfair Display", serif;
}
.link {
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 100;
  margin: auto 1rem;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.link:hover {
         text-shadow: 
        0px 6px 15px rgba(248, 182, 97, 0.7),
        0px 15px 35px rgba(248, 182, 97, 0.6),
        0px 30px 70px rgba(248, 182, 97, 0.4);
     transform: translateY(-5px) scale(1.1);
     
}

.link2 {
  font-size: 1.2rem;
  margin: auto 1rem;
  color: #ffffff;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}


.link2:hover {
    color: #f9c06a;
         text-shadow: 
        0px 6px 15px rgba(248, 182, 97, 0.7),
        0px 15px 35px rgba(248, 182, 97, 0.6),
        0px 30px 70px rgba(248, 182, 97, 0.4);
     transform: translateY(-5px) scale(1.1);
     
}

.link3 {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  color: #1e1e1e;
  margin: auto 1rem;
  background-color: #f9c06a;
     box-shadow: 0px 10px 30px rgba(248, 182, 97, 0.5);
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
  display: inline-block;
}
.link3:hover {
      transform: translateY(-2px);
    box-shadow: 0px 15px 35px rgba(248, 182, 97, 0.7);
}
.h_final {
  font-family: "Playfair Display", serif;
}
.inicial {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 20%,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("img/coffee_image.png");
  width: 100%;
  padding: 15rem 8rem;
  color: #ffffff;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
 
  background-position: center;
  background-attachment: fixed;
}
.titulo {
      font-family: "Clicker Script", cursive;
  font-size: 18rem;
  font-weight: 200;
}
.t1 {
     font-family: "Playfair Display", serif;
      font-weight: 100;
}
.t2 {
     font-family: "Playfair Display", serif;
      font-weight: 100;
}
.compre{
     text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  color: #1e1e1e;
display: block;
width: 12rem;
   box-shadow: 0px 10px 30px rgba(248, 182, 97, 0.5);
margin: 2rem ;
text-align: center;
  background-color: #f9c06a;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}

.compre:hover {
      transform: translateY(-2px);
      
    box-shadow: 0px 15px 35px rgba(248, 182, 97, 0.7);
}
.parte2 {
    display: flex;
    padding: 2rem;
    height: 90vh;
    justify-content: space-around;

    img{
     height: 60%;
    }

    a{
      text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  width: 50%;
  text-align: center;
  color: #1e1e1e;
display: inline-block;
  background-color: #f9c06a;
     box-shadow: 0px 10px 30px rgba(248, 182, 97, 0.5);
  border-radius: 2rem; 
  transition: all 0.3s ease-in-out; 
    }
    a:hover {
      text-shadow: 
        0px 6px 15px rgba(248, 182, 97, 0.7),
        0px 15px 35px rgba(248, 182, 97, 0.6),
        0px 30px 70px rgba(248, 182, 97, 0.4);
     transform: translateY(-5px) scale(1.1);
     
     
}
}

.titulo2 {
    color: #603809;
    font-size: 4rem;
    margin: 1rem auto;
    font-family: "Playfair Display", serif;
    
}
.sub {
      font-family: "Playfair Display", serif;
    color: #707070;
    font-weight: 200;
      line-height: 1.6;
      margin: 1rem auto;
}
.parte2t {
    width: 50%;
}



.cop {
      text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  color: #FDFBF7;
display: block;
width: 12rem;
  
margin: 2rem auto ;
text-align: center;
  background-color: #3E2723;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}
.cop:hover {
  transform: translateY(-2px);
      
    background-color: #5D4037;
}
.parte3 {
  padding: 2rem;
}
.compra {
  width: 400px;
  border-radius: 1rem;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color:#FDFBF7;
 text-align: center;
  overflow: hidden;
  border:1px solid #EFEBE9;
  transition: all 0.3s ease-in-out;
  
  img {
    object-fit: cover;
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: 50%;
  }
}
.compra:hover  {
transform: scale(1.05) translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.titulo3 {
  color: #603809;
    font-size: 2rem;
    margin: 1rem auto;
    font-family: "Playfair Display", serif;
}
.igre {
  color: #1E1E1E;
   font-family: "Playfair Display", serif;
   font-weight: 300;
   font-size: 1.2rem;

}
.valor {
   color: #603809;
    font-size: 1.2rem;
    margin: 1rem auto;
    font-family: "Playfair Display", serif;
}
.flex3 {
  display: flex;
  width: 100%;
  margin: 2rem auto;
  justify-content: space-around;
}
.titulo4 {
 color: #603809;
    font-size: 5rem;
    margin: 1rem auto;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    text-align: center;
}
.subtitulo4 {
  color: #707070;
   font-family: "Playfair Display", serif;
   font-weight: 300;
     margin: 1rem auto;
   font-size: 1.5rem;
   text-align: center;
}
.parte4 {
  padding: 2rem;
  align-items: center;
}
.dife {
 box-shadow: 0 8px 30px rgba(122, 88, 68, 0.1);


  width: 300px;
  border: 4px double  #FFF8F0;
  padding: 1rem;
  background-color: #FFF8F0 ;
  border-radius: 1rem;
  text-align: center;
   transition: all 0.3s ease-in-out;
  h1{
      font-family: "Playfair Display", serif;
      font-size: 2rem;
      color: #603809;
     
  }
  h2 {
     color: #707070;
   font-family: "Playfair Display", serif;
   font-weight: 300;
     margin: 1rem auto;
   font-size: 1.2rem; 
  }
}
.dife:hover {
  transform: scale(1.04) translateY(-5px);
border: #603809 double 1px;
box-shadow: 0 12px 24px rgba(58, 31, 19, 0.08);


}
.titulo1{

   color: #603809;
    font-size: 3rem;
    margin: 1rem auto;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.titulo5 {
   color: #603809;
    font-size: 4rem;
    font-style: italic;
    margin: 1rem auto;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    text-align: center;
}
.subtitulo5 {
   color: #707070;
   font-family: "Playfair Display", serif;
   font-weight: 300;
     margin: 1rem auto;
   font-size: 1.8rem;
   text-align: center;
}
.bs {
  border: none;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  padding: 1.5rem 2rem;
  color:  #FFF8F0;
  margin: 1rem auto;
  background-color: #3A1F13;
     box-shadow: 0 4px 12px rgba(58, 31, 19, 0.15); 
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
  display: block;
}
.bs:hover {
  transform:  translateY(-5px);
    
      background-color: #522D1C; 
  transform: scale(1.05);   
  
 
  box-shadow: 0 8px 20px rgba(58, 31, 19, 0.25); 
}
.pro {
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width:700px) {
  .h_meio {
    display: none;
  }  
  .inicialt{
    max-width: 70%;
    padding-right: 1rem;
  }
  .logo {
    font-size: 2rem;
  }
  .inicial {
    padding: 13rem 1rem;
    max-width: 100%;
    background-attachment: none;
  }
  .titulo{
    font-size: 3rem;
  }
  .t1 {
    font-size: 0.6rem;
    line-height: 1.5;
  }

  .t2 {
    font-size: 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

  }
  .h_final {
    display: none;
  }
}
@media (max-width:1200px) {
.h_meio {
    display: none;
}
.titulo {
    font-size: 7rem;
}
.t1,.t2 {
    font-size: 1rem;
}
.compre {
    width: 18rem;
}
.h_final {
    display: none;
}
}
